.arrow {
  width: 3vh;
  height: 3.5vh;
  background-image: url('../../assets/dashboard/arrow.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
  cursor: pointer;
}
.title {
  height: 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.titleLine {
  background-image: url('../../assets/dashboard/titleline.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
}

.timepicker {
  height: 5vh;
  // margin-right: 0.6vh;
  // margin-left: 0.3vh;
  margin-top: 1.2vh;
  background-image: url('../../assets/dashboard/timepicker.png');
  background-repeat: no-repeat; //不重复
  background-size: 80% 80%; // 满屏1
}

.calendar {
  width: 1.5vh;
  height: 2vh;
  margin-top: 1vh;
  // margin-left: 0.05vh;
  background-image: url('../../assets/dashboard/calendar.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
}
.calendartext {
  padding-top: 0.8vh;
  padding-left: 1vh;
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
  text-align: left; /* 设置文本水平对齐方式为居中 */
}

.listcontent {
  height: 50vh;
}

.lists {
  height: 30vh;
  // background-image: url('../../assets/dashboard/calendar.png');
  // background-repeat: no-repeat; //不重复
  // background-size: 100% 100%; // 满屏1
}
.listItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  color: rgb(255, 255, 255);
  // background-image: url('../../assets/dashboard/alertinfo.png');
}
// .listtext {
//   // padding: 1vh;
//   color: rgb(255, 255, 255);
//   font-size: 4vh;
//   // text-align: center; /* 设置文本水平对齐方式为居中 */
// }

.listinfo {
  width: 100%;
  height: 14vh;
  color: rgb(255, 255, 255);
  background-image: url('../../assets/dashboard/alertinfo.png');
}
.alert {
  width: 3.5vh;
  height: 3vh;
  margin-top: 0.5vh;
  // margin-left: 1vh;
  background-image: url('../../assets/dashboard/alert.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
  cursor: pointer;
}
.alerttext {
  padding: 0.1vh;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  text-align: center; /* 设置文本水平对齐方式为居中 */
}
