.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: rgba(246, 0, 0, 0.436);
  pointer-events: auto;

  .title {
    height: 80px;
    color: #d4e8f8;
    font-weight: 400;
    font-size: 50px;
    font-family: YouSheBiaoTiHei;
    text-align: center;
    text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
    // background-color: rgba(0, 0, 0, 0.436);
  }
  .title:hover {
    height: 80px;
    color: #7eb3de;
    font-weight: 450;
    font-size: 55px;
    font-family: YouSheBiaoTiHei;
    text-align: center;
    text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
    cursor: pointer;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    // background-color: rgba(0, 0, 0, 0.436);
  }
  .buttonRow {
    // background-color: rgba(255, 255, 255, 0.436);
  }
  .button {
    color: #d4e8f8;
    font-weight: 400;
    font-size: 23px;
    font-family: YouSheBiaoTiHei;
    text-align: center;
  }
  .buttonActive {
    color: aqua;

    // margin-top: 10px;
    // margin-right: 30px;
    // //  margin-bottom: 25px; /* 下外边距 */
    // margin-left: 70px;
    font-weight: 600;
    font-size: 23px;
    font-family: YouSheBiaoTiHei;
    text-align: center;
    text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
    background-image: url('../../../../assets/dashboard/arrowTwo.png');
    background-repeat: no-repeat; //不重复
    background-position: center 55%;
    background-size: 100% 35%; // 满屏
  }
}
.home {
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 1003;
  width: 90px;
  height: 40px;
  background-image: url('../../../../assets/dashboard/close.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
  cursor: pointer;
  pointer-events: auto;
}
.home:hover {
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 1003;
  width: 90px;
  height: 40px;
  background-image: url('../../../../assets/dashboard/close_s.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
  cursor: pointer;
  pointer-events: auto;
}
