/* stylelint-disable */
.content {
  width: 1360px;
  height: 320px;
  padding: 10px;
  //   background-color: rgba(246, 0, 0, 0.436);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.368) 0%, #0114419d 100%);
  border: 6px outset rgba(2, 84, 206, 0.397);
  border-radius: 8px;

  .board {
    display: flex;
    width: 100%;
    height: 100%;
    // background: url(../../../../assets/dashboard/down2.png) no-repeat center;
    background-size: 100% 100%; // 满屏
    :global {
      .ant-switch {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        line-height: 22px;
        vertical-align: middle;
        list-style: none;
        background: rgba(14, 70, 116, 0.3);
        border: 1px solid #5cb6ff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-feature-settings: 'tnum', 'tnum';
      }
      .ant-switch-inner {
        display: block;
        // margin: 0 7px 0 25px;
        color: #ffffff;
        font-weight: 400;
        font-size: 20px;
        font-family: YouSheBiaoTiHei;
        text-align: center;
        text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
        transition: margin 0.2s;
      }
      // .ant-switch-checked .ant-switch-handle {
      //   left: calc(100% - 18px - 2px);
      // }
      .ant-switch-handle {
        position: absolute;
        top: 0px;
        // left: 2px;
        width: 20px;
        height: 100%;
        border-radius: 10%;
        /* transition: all 0.2s ease-in-out; */
      }
    }
    .left {
      width: 670px;
      height: 100%;
      .box {
        width: 670px;
        height: 270px;
        .leftContent {
          height: 270px;
          // background-color: rgba(243, 14, 14, 0.436);
        }
        .rightContent {
          height: 270px;
          // border-right: 1px solid rgb(255, 255, 255);
          // background-color: rgba(244, 244, 244, 0.436);
          border-bottom: 1px solid rgb(255, 255, 255);
        }
      }
    }

    .right {
      width: 670px;
      height: 100%;
      // background-color: rgba(12, 12, 12, 0.436);
      .box {
        width: 670px;
        height: 270px;
        .leftContent {
          height: 270px;
          // background-color: rgba(244, 244, 244, 0.436);
          border-bottom: 1px solid rgb(255, 255, 255);
          // border-bottom: 1px solid rgb(255, 255, 255);
          // border-left: 1px solid rgb(255, 255, 255);
          // background-color: rgba(243, 14, 14, 0.436);
        }
        .rightContent {
          height: 270px;
          // background-color: rgba(244, 244, 244, 0.436);
        }
      }
    }
  }
}

.buttonRow {
  height: 70px;
  padding: 10px 5px 10px 5px;
}

.powerLeft {
  position: absolute;
  top: 30px;
  left: 32px;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 0px;
  color: white;
  font-size: 19px;
  font-family: 'YouSheBiaoTiHei';
  // background-color: rgba(243, 14, 14, 0.436);
}
.powerRight {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 0px;
  color: white;
  font-size: 19px;
  font-family: 'YouSheBiaoTiHei';
  // background-color: rgba(243, 14, 14, 0.436);
}
.hangarInfo {
  width: 100%;
  height: 240px;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  // background: rgb(2, 141, 255);
  // background-color: rgba(243, 14, 14, 0.436);
  b {
    position: absolute;
    top: 30%;
    right: 40px;
    display: block;
    width: 74px;
    height: 17px;
    background: url(../../../../assets/dashboard/awareness/bg07rightarea.png) left bottom no-repeat;
    animation: flash2 3000ms infinite;
  }
}
.switchInfo {
  margin-top: 5px;
  // background-color: rgba(243, 14, 14, 0.436);
}
/**
*  @file center.less
*  @time 2023/10/19
 * @category :
 * @function :
 */
//#region -------------------------------------------------------------------------

//#endregion -----------------------------------------------------------------------
/**
 * @end
 */
@keyframes flash2 {
  0%,
  50%,
  100% {
    opacity: 0.2;
  }
  25%,
  75% {
    opacity: 0;
  }
}
