/* stylelint-disable */
.content {
  width: 1360px;
  height: 320px;
  padding: 10px;
  //   background-color: rgba(246, 0, 0, 0.436);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0114419d 100%);
  border: 6px outset rgba(2, 84, 206, 0.397);
  border-radius: 8px;
  .board {
    display: flex;
    width: 100%;
    height: 100%;
    // background: url(../../../../assets/dashboard/down2.png) no-repeat center;
    background-size: 100% 100%; // 满屏
    .left {
      width: 670px;
      height: 100%;
      .box {
        width: 670px;
        height: 270px;
        .leftContent {
          height: 270px;
          // background-color: rgba(243, 14, 14, 0.436);
        }
        .rightContent {
          height: 270px;

          background-color: rgba(244, 244, 244, 0.436);
          border-bottom: 1px solid rgb(255, 255, 255);
        }
      }
    }

    .right {
      width: 670px;
      height: 100%;
      background-color: rgba(12, 12, 12, 0.436);
      .box {
        width: 670px;
        height: 270px;
        .leftContent {
          height: 270px;
          border-bottom: 1px solid rgb(255, 255, 255);

          // background-color: rgba(243, 14, 14, 0.436);
        }
        .rightContent {
          height: 270px;
          // background-color: rgba(244, 244, 244, 0.436);
        }
      }
    }
  }
}

.buttonRow {
  height: 70px;
  padding: 10px 5px 10px 5px;
}
.powerLeft {
  position: absolute;
  top: 30px;
  left: 40px;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 0px;
  color: white;
  font-size: 19px;
  font-family: 'electronicFont';
  // background-color: rgba(243, 14, 14, 0.436);
}
.powerRight {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 0px;
  color: white;
  font-size: 19px;
  font-family: 'electronicFont';
  // background-color: rgba(243, 14, 14, 0.436);
}

/**
*  @file center.less
*  @time 2023/10/19
 * @category :
 * @function :
 */
//#region -------------------------------------------------------------------------

//#endregion -----------------------------------------------------------------------
/**
 * @end
 */
