.video {
  width: 100%;
  height: 20vh;
  background-color: rgb(255, 255, 255);
  background-image: url('../../../../assets/dashboard/monitor.png');
}
.content {
  width: 100%;
  height: 80vh;
}
.board {
  width: 100%;
  height: 20vh;
  margin-top: 2vh;
  padding: 1vh;
  color: aliceblue;
  background-color: rgba(22, 42, 59, 0.623);
  border: 1.8px solid #3a8686a6;
}
