.content {
  width: 520px;
  height: 250px;
  padding: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0114419d 100%);

  // background-color: rgba(246, 0, 0, 0.436);
  border-radius: 8px;
}

.video {
  width: 500px;
  height: 240px;

  // padding-right: 2vh;
  // padding-left: 2vh;
}
// .board {
//   width: 100%;
//   height: 20vh;
//   margin-top: 2vh;
//   padding: 1vh;
//   color: aliceblue;
//   background-color: rgba(22, 42, 59, 0.623);
//   border: 1.8px solid #3a8686a6;
// }
.tab {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 260px;
  // background-color: rgb(246, 0, 0);
  :global {
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
      padding: 1px 1px;
      text-align: center;
    }
    .ant-tabs-left > .ant-tabs-nav,
    .ant-tabs-right > .ant-tabs-nav,
    .ant-tabs-left > div > .ant-tabs-nav,
    .ant-tabs-right > div > .ant-tabs-nav {
      flex-direction: column;
      min-width: 3px;
      max-width: 30px;
    }
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
    .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 240px;
      transition: transform 0.3s;
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
    .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
    .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
    .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin: 0px;
    }
    .ant-tabs-tab {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 8px 0;
      color: white;
      font-size: 19px;
      font-family: 'YouSheBiaoTiHei';
      border: 0;
      outline: none;
      cursor: pointer;
      writing-mode: vertical-lr;
    }
    .ant-tabs-left > .ant-tabs-content-holder,
    .ant-tabs-left > div > .ant-tabs-content-holder {
      margin-left: 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}
.infoList {
  height: 240px;

  :global {
    .ant-picker {
      position: relative;
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;
      width: 180px;
      height: 42px;
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-size: 16px;
      font-family: YouSheBiaoTiHei;
      line-height: 1.5715;
      white-space: nowrap;
      text-align: center;
      text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
      background: rgba(14, 70, 116, 0.3);
      border: 1px solid #5cb6ff;
      border-radius: 4px;
      transition: border 0.3s, box-shadow 0.3s;
      font-feature-settings: 'tnum', 'tnum';
    }
    .ant-picker-input > input {
      position: relative;
      display: inline-block;
      flex: auto;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      color: rgb(251, 251, 251);
      font-size: 16px;
      line-height: 1.5715;
      background: transparent;
      background: rgba(14, 70, 116, 0.3);
      border: 0px;
      border-radius: 2px;
      transition: all 0.3s;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      position: relative;
      font-size: 16px;
      font-family: YouSheBiaoTiHei;
      background: rgba(14, 70, 116, 0.3);
      border: 1px solid #5cb6ff;
      border-radius: 4px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      padding: 0px;
      line-height: 40px;
      transition: all 0.3s, visibility 0s;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 180px;
      height: 42px;
      padding: 0 11px;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
      right: 25px;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-search {
      position: absolute;
      top: 0;
      right: 11px;
      bottom: 0;
      left: 11px;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-item {
      position: relative;
      color: #ffffff;
      font-size: 16px;
      font-family: YouSheBiaoTiHei;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .ant-list {
      position: relative;
      box-sizing: border-box;
      height: 180px;
      margin: 0px;
      margin-top: 10px;
      padding: 0;
      overflow: scroll;
      color: rgb(255 255 255 / 85%);
      font-weight: 400;
      font-size: 10px;
      font-family: YouSheBiaoTiHei;
      font-variant: tabular-nums;
      line-height: 1.5715;
      text-align: center;
      list-style: none;
      border: 1px solid #5cb6ff;
      font-feature-settings: 'tnum', 'tnum';
    }
    .ant-list-split .ant-list-item {
      border-bottom: 0px solid rgba(0, 0, 0, 0.06);
    }
    .ant-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px;

      color: rgba(0, 0, 0, 0.85);
      background: rgba(14, 70, 116, 0.619);
      border: 1px solid #5cb6ff;
    }
  }
  .info {
    color: white;
    font-size: 15px;
  }
}
.infoButton {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 42px;
  // margin-right: 15px;
  // margin-left: 15px;
  padding: 0px;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: YouSheBiaoTiHei;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
  background: rgba(14, 70, 116, 0.3);
  border: 1px solid #5cb6ff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s linear;
  user-select: none;
  touch-action: manipulation;
}
