.content {
  width: 400px;
  height: 940px;
  padding: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0114419d 100%);

  // background-color: rgba(246, 0, 0, 0.436);
  border-radius: 8px;
  .top {
    height: 150px;
    padding: 10px 0px;
    // background-color: rgba(245, 238, 238, 0.436);
  }
  .middle {
    height: 750px;
    padding: 10px 0px;
    // background-color: rgba(85, 245, 5, 0.436);
  }
  // .bottom {
  //   height: 330px;
  //   padding: 10px 0px;
  //   background-color: rgba(34, 0, 255, 0.436);
  // }
}
.listcontent {
  margin-top: 2vh;
}

.picker {
  width: 100%;
  height: 5vh;
  // margin-right: 0.6vh;
  // margin-left: 0.3vh;
  margin-top: 3vh;
  // background: #ffffff85;
  :global {
    .ant-picker {
      position: relative;
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;
      height: 5vh;
      margin: 0;
      padding: 0;
      padding: 4px 11px 4px;
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      background: #30414285;
      border: 1.8px solid #3a8686a6;
      border-radius: 2px;
      transition: border 0.3s, box-shadow 0.3s;
      font-feature-settings: 'tnum', 'tnum';
    }
    .ant-picker-input > input {
      position: relative;
      display: inline-block;
      flex: auto;
      width: 100%;
      min-width: 0;
      min-width: 1px;
      height: auto;
      padding: 4px 11px;
      padding: 0;
      color: rgb(255, 255, 255);
      font-size: 14px;
      line-height: 1.5715;
      background: #30414285;
      background-image: none;
      transition: all 0.3s;
    }
  }
  .pickerTitle {
    height: 5vh;
    padding: 0.5vh;
    color: rgb(2, 200, 202);
    font-size: 2.5vh;
    text-align: center;
  }
}

// :global(.ant-btn-primary) {
//   background-color: green !important;
// }
.buttonRow {
  height: 70px;
  padding: 20px;
  .button {
    // margin-top: 1vh; /* 上外边距 */
    // margin-right: 3vh; /* 右外边距 */
    // margin-bottom: 5vh; /* 下外边距 */
    // margin-left: 3vh; /* 左外边距 */
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
  }
  .buttonActive {
    // margin-top: 1vh; /* 上外边距 */
    // margin-right: 3vh; /* 右外边距 */
    // margin-bottom: 5vh; /* 下外边距 */
    // margin-left: 3vh; /* 左外边距 */
    color: aqua;
    font-size: 16px;
    text-align: center;
    background-image: url('../../../../assets/dashboard/arrowTwo.png');
    background-repeat: no-repeat; //不重复
    background-position: center 55%;
    background-size: 100% 35%; // 满屏
  }
}
.timeLine {
  width: 100%;
  height: 170px;
}
.tabChange {
  position: absolute;
  top: 165px;
  right: 30px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: YouSheBiaoTiHei;
  cursor: pointer;
}
.playButton {
  width: 380px;
  height: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  :global {
    .ant-btn {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 30px;
      // margin-right: 15px;
      // margin-left: 15px;
      padding: 0px;
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
      font-family: YouSheBiaoTiHei;
      line-height: 1.5715;
      white-space: nowrap;
      text-align: center;
      text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
      background: rgba(14, 70, 116, 0.3);
      border: 1px solid #5cb6ff;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.5s linear;
      user-select: none;
      touch-action: manipulation;
    }
  }
}
