.historyList {
  :global {
    .ant-picker {
      position: relative;
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;
      width: 180px;
      height: 42px;
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-size: 16px;
      font-family: YouSheBiaoTiHei;
      line-height: 1.5715;
      white-space: nowrap;
      text-align: center;
      text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
      background: rgba(14, 70, 116, 0.3);
      border: 1px solid #5cb6ff;
      border-radius: 4px;
      transition: border 0.3s, box-shadow 0.3s;
      font-feature-settings: 'tnum', 'tnum';
    }
    .ant-picker-input > input {
      position: relative;
      display: inline-block;
      flex: auto;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      color: rgb(251, 251, 251);
      font-size: 16px;
      line-height: 1.5715;
      background: transparent;
      background: rgba(14, 70, 116, 0.3);
      border: 0px;
      border-radius: 2px;
      transition: all 0.3s;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      position: relative;
      font-size: 16px;
      font-family: YouSheBiaoTiHei;
      background: rgba(14, 70, 116, 0.3);
      border: 1px solid #5cb6ff;
      border-radius: 4px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 180px;
      height: 42px;
      padding: 0 11px;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      padding: 0px;
      line-height: 40px;
      transition: all 0.3s, visibility 0s;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
      right: 25px;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-search {
      position: absolute;
      top: 0;
      right: 11px;
      bottom: 0;
      left: 11px;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-item {
      position: relative;
      color: #ffffff;
      font-size: 16px;
      font-family: YouSheBiaoTiHei;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .ant-btn {
      position: relative;
      display: inline-block;
      width: 180px;
      height: 42px;
      // margin-right: 15px;
      // margin-left: 15px;
      padding: 0px;
      color: #ffffff;
      font-weight: 400;
      font-size: 24px;
      font-family: YouSheBiaoTiHei;
      line-height: 1.5715;
      white-space: nowrap;
      text-align: center;
      text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
      background: rgba(14, 70, 116, 0.3);
      border: 1px solid #5cb6ff;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.5s linear;
      user-select: none;
      touch-action: manipulation;
    }

    .ant-list {
      position: relative;
      box-sizing: border-box;
      margin: 0px;
      padding: 0;
      color: rgb(255 255 255 / 85%);
      font-size: 10px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: 'tnum', 'tnum';
    }
    .ant-list-split .ant-list-item {
      border-bottom: 0px solid rgba(0, 0, 0, 0.06);
    }
    .ant-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px;
      color: rgba(0, 0, 0, 0.85);
      background: rgba(14, 70, 116, 0.619);
      border: 1px solid #5cb6ff;
    }

    //
    .ant-pagination {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-weight: 200;
      font-size: 18px;
      font-family: YouSheBiaoTiHei;
      font-variant: tabular-nums;
      line-height: 1.5715;
      line-height: 1.5715;
      list-style: none;
    }
    .ant-list-pagination {
      margin-top: 4px;
      text-align: left;
    }
    .ant-pagination-total-text {
      display: inline-block;
      height: 30px;
      margin-right: 8px;
      line-height: 30px;
      vertical-align: middle;
    }
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      display: inline-block;
      min-width: 16px;
      height: 30px;
      color: rgba(0, 0, 0, 0.85);

      line-height: 32px;
      text-align: center;
      vertical-align: middle;
      list-style: none;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.3s;
    }
    .ant-pagination-item {
      display: inline-block;
      min-width: 25px;
      height: 30px;
      margin-right: 8px;
      padding: 0px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      list-style: none;
      background-color: rgb(255, 255, 255);
      border: 1px solid #5cb6ff;
      border-radius: 2px;
      outline: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      color: rgb(250 250 250 / 85%);
      font-size: 14px;
      text-align: center;
      background-color: rgb(255, 255, 255);
      border: 1px solid #5cb6ff;
      border-radius: 2px;
      outline: none;
      transition: all 0.3s;
    }
    .ant-pagination-item a {
      display: block;
      padding: 0px;
      color: rgb(0, 0, 0);
      text-align: center;
      transition: none;
    }
  }
  .list {
    margin-top: 100px;
  }
}

.listinfo {
  width: 100%;
  height: 110px;
  padding: 5px;
  color: #ffffff;
  background: rgba(14, 70, 116, 0.548);
  border: 1px solid #5cb6ff;
  border-radius: 8px;
  cursor: pointer;
  .historyTitle {
    // margin-top: 0.2vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    color: #ffffff;
    font-weight: 400;
    font-weight: bolder;
    font-size: 24px;
    font-family: YouSheBiaoTiHei;
    text-align: center;
    text-shadow: 0px 0px 12px 0px rgba(50, 160, 244, 0.6);
  }
  .historyInfo {
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    overflow: hidden;
    color: #ffffff;
    // margin-top: 0.2vh;
    color: rgb(229, 229, 229);
    font-weight: 200;
    font-size: 14px;
    font-family: YouSheBiaoTiHei;
    // font-weight: bold;
    text-align: left; /* 设置文本水平对齐方式为居中 */
  }
  .historyInfoTitle {
    width: 100%;
    padding-top: 10px;

    padding-right: 0px;
    padding-left: 3px;
    overflow: hidden;
    color: #ffffff;
    // margin-top: 0.2vh;
    color: rgb(236, 236, 236);
    font-weight: 400;
    font-weight: 600px;
    font-size: 16px;
    font-family: YouSheBiaoTiHei;
    text-align: left; /* 设置文本水平对齐方式为居中 */
  }
}
.buttonRow {
  position: absolute;
  top: 200px;
  z-index: 1;
}
.buttonRow2 {
  position: absolute;
  top: 250px;
  z-index: 1;
}
