.lists {
  // height: 25vh;
  margin-right: 2vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  .listItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    // margin-right: 1vh;
    // margin-bottom: 1vh;
    // margin-left: 2vh;
    // background-image: url('../../assets/dashboard/alertinfo.png');
    background-repeat: no-repeat; //不重复
    background-size: 100% 100%; // 满屏1
    // background-color: rgb(255, 2, 2);
    // .textlist {
    //   color: rgb(255, 255, 255);
    //   font-size: 1.5vh;
    //   text-align: left; /* 设置文本水平对齐方式为居中 */
    // }
    .textInfo {
      width: 100%;
      color: rgb(255, 255, 255);
      font-size: 1vh;
      text-align: left; /* 设置文本水平对齐方式为居中 */
    }
    .listinfo {
      width: 100%;
      background-color: rgb(11, 35, 51);
      border-radius: 0.04vh;
      .alert {
        width: 2.5vh;
        height: 2.5vh;
        margin-top: 0.8vh;
        // margin-left: 1vh;
        background-image: url('../../../../assets/dashboard/alert.png');
        background-repeat: no-repeat; //不重复
        background-size: 100% 100%; // 满屏1
        cursor: pointer;
      }
      .alerttext {
        margin-top: 0.2vh;
        color: rgb(255, 255, 255);
        // font-weight: bold;
        font-size: 2vh;
        text-align: left; /* 设置文本水平对齐方式为居中 */
      }
    }
  }
}
