/* stylelint-disable */
.content {
  width: 880px;
  height: 340px;
  padding: 10px;
  // background-color: rgba(246, 0, 0, 0.436);
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0114419d 100%);
  border-radius: 8px;
  .chart {
    width: 100%;
    height: 280px;
    padding-top: 10px;
  }
}
