@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}
// .ant-picker {
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   box-sizing: border-box;
//   margin: 4px;
//   padding: 0;
//   padding: 4px 11px 4px;
//   // color: rgb(110, 150, 175);
//   color: rgb(255, 255, 255);

//   font-size: 14px;
//   font-variant: tabular-nums;
//   line-height: 1.5715;
//   list-style: none;
//   background: #0d2b3a;
//   border: 0px solid #efefef;
//   border-radius: 2px;
//   transition: border 0.3s, box-shadow 0.3s;
//   font-feature-settings: 'tnum', 'tnum';
// }
// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: rgb(10, 38, 53);
//   border: 1px solid rgb(10, 38, 53);
// }
// .ant-select {
//   color: rgb(110, 150, 175);
// }
// rgba(252, 252, 252, 0.85) canvas {
//   display: block;
// }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// @media (max-width: @screen-xs) {
//   .ant-table {
//     width: 100%;
//     overflow-x: auto;
//     &-thead > tr,
//     &-tbody > tr {
//       > th,
//       > td {
//         white-space: pre;
//         > span {
//           display: block;
//         }
//       }
//     }
//   }
// }

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
