/* stylelint-disable */
@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}
// .ant-picker {
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   box-sizing: border-box;
//   margin: 4px;
//   padding: 0;
//   padding: 4px 11px 4px;
//   // color: rgb(110, 150, 175);
//   color: rgb(255, 255, 255);

//   font-size: 14px;
//   font-variant: tabular-nums;
//   line-height: 1.5715;
//   list-style: none;
//   background: #0d2b3a;
//   border: 0px solid #efefef;
//   border-radius: 2px;
//   transition: border 0.3s, box-shadow 0.3s;
//   font-feature-settings: 'tnum', 'tnum';
// }
// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: rgb(10, 38, 53);
//   border: 1px solid rgb(10, 38, 53);
// }
// .ant-select {
//   color: rgb(110, 150, 175);
// }
// rgba(252, 252, 252, 0.85) canvas {
//   display: block;
// }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
// .boxall {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 1vh;
//   // position: relative;
//   // background: rgba(0, 19, 32, 0.7);
//   background: linear-gradient(180deg, rgba(5, 48, 74, 0.769) 0%, #011032cc 100%);

//   background-size: 100% auto;
//   border: 1.8px solid #3a8686a6;
// }
// .boxall:before,
// .boxall:after {
//   position: absolute;
//   top: 0;
//   width: 0.7rem;
//   height: 0.7rem;
//   border-top: 2.5px solid #02a6b5bd;
//   content: '';
// }
// .boxall:before,
// .boxfoot:before {
//   left: 0;
//   border-left: 2.5px solid #02a6b5bd;
// }
// .boxall:after,
// .boxfoot:after {
//   right: 0;
//   border-right: 2.5px solid #02a6b5bd;
// }
// .boxfoot {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
// }
// .boxfoot:before,
// .boxfoot:after {
//   position: absolute;
//   bottom: 0;
//   width: 0.7rem;
//   height: 0.7rem;
//   border-bottom: 2.5px solid #02a6b5bd;
//   content: '';
// }
/**
*  @file global.less
*  @time 2023/10/16
 * @category :
 * @function :
 */
//#region -------------------------------------------------------------------------
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-size: 100% 100%;
  .container__body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background: url('../src/assets/dashboard/border.png') no-repeat;
    // background-size: 100%;
  }
}

.masking {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  &.top {
    top: 0;
    left: 0;
    width: 1920px;
    height: 200px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #011032 100%);
  }
  &.right {
    top: 0;
    right: 0;
    width: 460px;
    height: 1080px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #011032 100%);
    // background: linear-gradient(90deg, rgba(0, 0, 0, 0.806) 0%, #011032 100%);
  }
  &.bottom {
    bottom: 0;
    left: 0;
    width: 1920px;
    height: 200px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #011032 100%);
  }
  &.left {
    top: 0;
    left: 0;
    width: 460px;
    height: 1080px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #011032 100%);
    // background: linear-gradient(270deg, rgba(0, 0, 0, 0.856) 0%, #011032 100%);
  }
}
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./assets/font/YouSheBiaoTiHei-2.ttf');
}
@font-face {
  font-family: 'electronicFont';
  src: url('./assets/font/DSDIGIT.ttf');
}

//#endregion -----------------------------------------------------------------------
/**
 * @end
 */
.area-inbox-1 {
  width: 293px;
  height: 270px;
  background: url(../src/assets/dashboard/awareness//bg01rightarea.png);
  background-repeat: no-repeat; //不重复
  background-size: 100% 100% // 满屏 ;
}
.area-text p {
  width: 115px;
}

.area-inbox-1 dl {
  padding: 55px 0 0 130px;
}
.area-inbox-1 dl dt {
  margin-top: 4px;
  color: rgb(255, 255, 255);
}
.area-inbox-1 dl dd {
  position: relative;
}
.area-inbox-1 dl dd.font12 {
  font-size: 12px;
}
.area-inbox-1 dl dd.ml-20,
.area-inbox-1 dl dt.ml-20 {
  margin-left: -15px;
}
.area-inbox-1 dl dd span {
  position: relative;
  z-index: 1;
  // margin-top: 2px;
  font-size: 16px;
  font-family: 'electronicFont';
  // letter-spacing: 1px;
  opacity: 1;
}
.area-inbox-1 dl dd b {
  position: absolute;
  top: 30%;
  left: -5px;
  display: block;
  width: 74px;
  height: 17px;
  background: url(../src/assets/dashboard/awareness//bg07rightarea.png) left bottom no-repeat;
  animation: flash2 3000ms infinite;
}
.area-inbox-1 dl dd:nth-child(2) b {
  animation: flash2 5000ms infinite;
}
.area-inbox-1 dl dd:nth-child(3) b {
  animation: flash2 1000ms infinite;
}

.round-1 {
  position: absolute;
  top: 48px;
  left: 84px;
  width: 198px;
  height: 198px;
  border: 1px dashed #fff;
  border-radius: 100%;
  animation: forotate 19000ms infinite;
}
.round-2 {
  position: absolute;
  top: 34px;
  left: 70px;
  width: 228px;
  height: 228px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  animation: forotate1 8000ms infinite;
}
.round-3 {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 60px;
  height: 60px;
  padding-top: 8px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'electronicFont';
  line-height: 40px;
  text-align: center;
  background: 1px dashed rgba(255, 255, 255, 0.719);
  border: 1px solid rgba(255, 255, 255, 0.505);
  border-radius: 100%;
}

@keyframes forotate {
  from {
    transform: rotate(-360deg);
    opacity: 0.9;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes forotate1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes flash2 {
  0%,
  50%,
  100% {
    opacity: 0.2;
  }
  25%,
  75% {
    opacity: 0;
  }
}
