/* stylelint-disable */
@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}
// .ant-picker {
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   box-sizing: border-box;
//   margin: 4px;
//   padding: 0;
//   padding: 4px 11px 4px;
//   // color: rgb(110, 150, 175);
//   color: rgb(255, 255, 255);

//   font-size: 14px;
//   font-variant: tabular-nums;
//   line-height: 1.5715;
//   list-style: none;
//   background: #0d2b3a;
//   border: 0px solid #efefef;
//   border-radius: 2px;
//   transition: border 0.3s, box-shadow 0.3s;
//   font-feature-settings: 'tnum', 'tnum';
// }
// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: rgb(10, 38, 53);
//   border: 1px solid rgb(10, 38, 53);
// }
// .ant-select {
//   color: rgb(110, 150, 175);
// }
// rgba(252, 252, 252, 0.85) canvas {
//   display: block;
// }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// @media (max-width: @screen-xs) {
//   .ant-table {
//     width: 100%;
//     overflow-x: auto;
//     &-thead > tr,
//     &-tbody > tr {
//       > th,
//       > td {
//         white-space: pre;
//         > span {
//           display: block;
//         }
//       }
//     }
//   }
// }

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
.boxall {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1vh;
  // position: relative;
  background: rgba(0, 19, 32, 0.7);
  background-size: 100% auto;
  border: 1.8px solid #3a8686a6;
}
.boxall:before,
.boxall:after {
  position: absolute;
  top: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 2.5px solid #02a6b5bd;
  content: '';
}
.boxall:before,
.boxfoot:before {
  left: 0;
  border-left: 2.5px solid #02a6b5bd;
}
.boxall:after,
.boxfoot:after {
  right: 0;
  border-right: 2.5px solid #02a6b5bd;
}
.boxfoot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.boxfoot:before,
.boxfoot:after {
  position: absolute;
  bottom: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-bottom: 2.5px solid #02a6b5bd;
  content: '';
}
.arrow {
  width: 3vh;
  height: 3.5vh;
  background-image: url('./assets/dashboard/arrow.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
  cursor: pointer;
}
.title {
  height: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
}
.titleLine {
  background-image: url('./assets/dashboard/titleline.png');
  background-repeat: no-repeat; //不重复
  background-size: 100% 100%; // 满屏1
}
